/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

/* color palette: 

electric blue
#3c53f8

lavender
#cdc0ff

mint green
#49bea1

off black
#1C1A27 */

body,
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: linear-gradient(
    to top,
    #3c53f8 0%,
    #cdc0ff 99%,
    #cdc0ff 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
  padding: 11px;
}

h1 {
  color: #3c53f8;
  margin: 0px;
}

.header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  margin-top: -20px;
  text-align: center;
}

.main-title {
  font-size: 2em;
}

/* .welcome {
  position: relative;
  top: -150px;
  float: right;
  width: 500px;
  padding: 10px;
  height: 130px;
  border-radius: 20px;
}

.welcome-banner {
  position: relative;
  background-color: #f9f9f9;
  padding: 10px;
  width: 500px;
  border-radius: 20px;
} */

/* .welcome-user-msg {
  position: relative;
  top: -150px;
  float: right;
  width: 500px;
  padding: 10px;
  height: 130px;
  border-radius: 20px;
} */

.login {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* .calendar-nav {
  position: relative;
  top: -150px;
  float: right;
  width: 500px;
  padding: 10px;
  height: 130px;
  border-radius: 20px;
} */

form {
  background-color: #f9f9f9;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  height: 400px;
  margin-top: 10px;
}

/* .activity-section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 20px;
  width: 500px;
  height: 365px;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  margin-top: -440px;
  margin-right: 290px;
} */

/* .user-login {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  width: 240px;
  height: 200px;
  border-radius: 20px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 140px;
  margin-left: 550px;
} */

/* .user-info-section {
  background-color: #f9f9f9;
  padding: 20px;
  width: 240px;
  height: 230px;
  border-radius: 20px;
  position: relative;
  float: right;
  margin-top: -404px;
} */

/* button#toggleButton {
  margin-top: 5px; Adjust the margin as needed
}  */

/* .hydration-section {
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px;
  width: 240px;
  height: 284px;
  border-radius: 20px;
  position: relative;
  float: right;
  margin-top: -125px;
}

.step-goals {
  background-color: #f9f9f9;
  padding: 20px;
  width: 225px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  float: right;
  margin-top: 9px;
  margin-right: 10px;
}

 .input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  width: 225px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  float: right;
  margin-top: 9px;
  margin-right: 10px;
} 

/* h2 {
  color: #3c53f8;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

h5 {
  color: #333;
  margin: 10px;
}

.timer-section {
  background-color: #f9f9f9;
  border-radius: 20px;
  text-align: center;
}

#timer-display {
  font-size: 2em;
  margin: 20px;
  color: #3c53f8;
}

button {
  width: 200px;
  background-color: #3c53f8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #49bea1;
}

#reps-tally,
#sets-tally {
  margin: 10px 0;
  color: #333;
}

.hidden {
  display: none;
}

form {
  margin-top: 5px;
}

.material-symbols-outlined {
  font-size: 35px;
}

#timer {
  font-size: 150px;
}

label,
input {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
} */

.hidden {
  display: none;
}