
body,
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: linear-gradient(
    to top,
    #3c53f8 0%,
    #cdc0ff 99%,
    #cdc0ff 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90%;
  padding: 11px;
}

h1 {
  color: #3c53f8;
  margin: 0px;
}

.header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  margin-top: -20px;
  text-align: center;
}

/* .main-title {
  font-size: 2em;
} */

.login {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #f9f9f9;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  height: 400px;
  margin-top: 10px;
}

 /* .input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  width: 225px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  float: right;
  margin-top: 9px;
  margin-right: 10px;
}  */


button {
  width: 200px;
  background-color: #3c53f8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #49bea1;
}


.hidden {
  display: none;
}

form {
  margin-top: 5px;
}

.material-symbols-outlined {
  font-size: 35px;
}


label,
input {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
} */

.hidden {
  display: none;
}